In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [2]:
# Load dataset
df = pd.read_csv('Customer_Behaviour.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
# cleanup_nums = {"class":{"unacc": 4, "acc": 3,'good': 2,'vgood':1}}
# df.replace(cleanup_nums,inplace = True)
# df.head()
df.rename(columns={'Purchased':'class'},inplace=True)

In [4]:
target = df['class']
dropcol=[0,4]
df.drop(df.columns[dropcol],axis = 1,inplace = True)
df = pd.get_dummies(df)  ##### keyy wordddd replace 0,1 
df.head()

   Age  EstimatedSalary  Gender_Female  Gender_Male
0   19            19000              0            1
1   35            20000              0            1
2   26            43000              1            0
3   27            57000              1            0
4   19            76000              0            1

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(df,target,random_state = 0)
from sklearn.preprocessing import StandardScaler

In [6]:
sc=StandardScaler()
sc.fit(X_train)
X_train_std=sc.transform(X_train)
X_test_std=sc.transform(X_test)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [7]:
from sklearn.linear_model import Perceptron
ppn=Perceptron(n_iter=3501, eta0=0.1, random_state=0)
ppn.fit(X_train_std,Y_train)
from sklearn import svm
from sklearn.svm import SVC
svc = svm.SVC(kernel='linear', C=1).fit(X_train_std,Y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:152: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

In [8]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,Y_train)
model.score(X_train_std,Y_train)
print('Coefficient: \n', model.coef_)
print('Intercept: \n', model.intercept_)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Coefficient:
 [[-7.73767515e-03  1.46638218e-06 -1.51477752e-03 -3.07736144e-03]]
Intercept:
 [-0.00459214]

In [9]:
#decision tree
from sklearn import tree
model1 = tree.DecisionTreeClassifier(criterion='gini')
model1.fit(X_train,Y_train)
model.score(X_train,Y_train)

#KNN
from sklearn.neighbors import KNeighborsClassifier
model2=KNeighborsClassifier(n_neighbors=5)
model2.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [10]:
y_pred=ppn.predict(X_test_std)
print('Misclassified samples using Perceptron are: %d' %(Y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Classification Accuracy of Perceptron is %.2f ' %accuracy_score(Y_test,y_pred))
print('Test number : %d'%len(Y_test))
s_pred=svc.predict(X_test_std)
print('Misclassified samples using SVM are: %d' %(Y_test!=s_pred).sum())
print('Classification Accuracy of SVM is %.2f ' %accuracy_score(Y_test,s_pred))
print('Test number : %d'%len(Y_test))
lr_pred= model.predict(X_test)
print('Misclassified samples using Logistic Regression are: %d' %(Y_test!=lr_pred).sum())
print('Classification Accuracy of Logistic Regression is %.2f ' %accuracy_score(Y_test,lr_pred))
print('Test number : %d'%len(Y_test))
t_pred= model1.predict(X_test)
print('Misclassified samples using Trees are: %d' %(Y_test!=t_pred).sum())
print('Classification Accuracy of Decision trees is %.2f ' %accuracy_score(Y_test,t_pred))
print('Test number : %d'%len(Y_test))
k_pred= model2.predict(X_test)
print('Misclassified samples using KNN are: %d' %(Y_test!=k_pred).sum())
print('Classification Accuracy of KNN is %.2f ' %accuracy_score(Y_test,k_pred))
print('Test number : %d'%len(Y_test))

Misclassified samples using Perceptron are: 19
Classification Accuracy of Perceptron is 0.81
Test number : 100
Misclassified samples using SVM are: 11
Classification Accuracy of SVM is 0.89
Test number : 100
Misclassified samples using Logistic Regression are: 32
Classification Accuracy of Logistic Regression is 0.68
Test number : 100
Misclassified samples using Trees are: 10
Classification Accuracy of Decision trees is 0.90
Test number : 100
Misclassified samples using KNN are: 16
Classification Accuracy of KNN is 0.84
Test number : 100

In [11]:
k_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)